<section id="banner">
	<div class="content">
		<header class="box">
			<h2><center>About Us</center></h2>
		</header>
		<div class="col-md-6 box">
		<p>Miller Event Management (MEM) is an industry leader in spectator management on California's Central Coast as well as other parts of California. MEM was started, and has been run out of San luis Obispo county for over 18 years. Over those 18 years, MEM has grown to manage all type of events, small to large, from festivals, concerts, world renound race circuits, as well as an assortment of special events all over The United States.</p>		

		<p>Miller Event Management & Staff was founded in 1992. Jim Miller, the CEO and owner, has over 20 years of experience in event management with involvement in all types of festivals, concerts, and special events.</p>
		<p>Our extensive staff of qualified managers and staff are experienced to manage a variety of services that include security, parking & traffic, medical/first aid, ticket gate operations, camping management, and volunteer management.</p>	
		</div>
		<div class="col-md-6 box">
		<h4>Our Philosophy</h4>
		<p>Our goal is to make sure your event is run succesfully and as smooth as possible, the right way. We provide qualified, licensed, and experienced security staff for any of your needs. We are experienced in a variety of settings that include concert security, festival security, and patrol/rover teams day or overnight.</p>

		<p><img src="images/about-us.jpg" class="imageAbout"></p>
		<p><a href="#" class="button big">Request A Quote</a></p>
		<br>

		</div>

	</div>
</section>
<section>
	<div class="features">

	</div>
</section>