	<div class="content">
	<br>
		<header class="box">
			<h2><center>AREA'S WE SERVE</center></h2>
		</header>
		<div class="col-md-4 box">
		<h3>Sacramento</h3>		
		<p><img src="images/area/Sacramento1.jpg" id="area"></p>	
		<p><img src="images/area/Sacramento2.jpg" id="area"></p>	
		</div>

		<div class="col-md-4 box">
		<h3>Chico</h3>		

		<p><img src="images/area/chico1.jpg" id="area"></p>
		<p><img src="images/area/chico2.jpg" id="area"></p>	
		</div>

		<div class="col-md-4 box">
		<h3>Monterrey</h3>		
		<p><img src="images/area/Monterrey1.jpg" id="area"></p>	
		<p><img src="images/area/Monterrey2.jpg" id="area"></p>
		</div>
		<div class="col-md-4 box">
		<h3>San Luis Obispo</h3>		

		<p><img src="images/area/SanLuisObispo1.jpg" id="area"></p>
		<p><img src="images/area/SanLuisObispo2.jpg" id="area"></p>	
		</div>

		<div class="col-md-4 box">
		<h3>Santa Bárbara</h3>		

		<p><img src="images/area/SantaBárbara1.jpg" id="area"></p>
		<p><img src="images/area/SantaBárbara2.jpg" id="area"></p>	
		</div>

		<div class="col-md-4 box">
		<h3>coming soon</h3>		
		</div>
	</div>
<section>
	<div class="features">

	</div>
</section>