extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="col-md-3 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Sacramento
				div(class="panel-body")
					img(src='img/Area’s we serve/Sacramento1.jpg')
					p
						b Address<br>
						|3563 Sueldo Street, Suite L, San Luis Obispo, Ca 93401
					p
						b Telephone<br>
						|(805) 547-9526<br>
						b Fax<br>
						|(805) 547-9526<br>
					p
						b E-mail<br>
						|millereventmanagement@gmail.com
					p
						b Location
						div(id="map")
					
		div(class="col-md-4 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Contact Us
				div(class="panel-body")
					p.
						Miller Event Management continued success and growth offer continuous jobs throughout the year. We take great pride in what we do, and constantly strive for excellence. MEM has earned an excellent reputation for our expertise and top-quality services all over California, as well as other parts of the US. This is reflected through our diverse and extensive client base. 
					p.
						We invite you to join a team of hard working and dedicated professionals. Our HR Department is currently accepting applications. Also, please contact us for any Quotes, Questions or Comments.
		div(class="col-md-5 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Contact Our Company
				div(class="panel-body")