extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="col-md-2 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Sacramento
				div(class="panel-heading")
					center
						img#area(src='img/Area’s we serve/Sacramento1.jpg')
					p
						center
							img#area(src='img/Area’s we serve/Sacramento2.jpg')
		div(class="col-md-2 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Chico
				div(class="panel-heading")
					center
						img#area(src='img/Area’s we serve/chico1.jpg')
					p
						center
							img#area(src='img/Area’s we serve/chico2.jpg')
		div(class="col-md-2 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Monterrey
				div(class="panel-heading")
					center
						img#area(src='img/Area’s we serve/Monterrey1.jpg')
					p
						center
							img#area(src='img/Area’s we serve/Monterrey2.jpg')
		div(class="col-md-2 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						San Luis Obispo
				div(class="panel-heading")
					center
						img#area(src='img/Area’s we serve/SanLuisObispo1.jpg')
					p
						center
							img#area(src='img/Area’s we serve/SanLuisObispo2.jpg')
		div(class="col-md-2 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Santa Bárbara
				div(class="panel-heading")
					center
						img#area(src='img/Area’s we serve/SantaBárbara1.jpg')
					p
						center
							img#area(src='img/Area’s we serve/SantaBárbara2.jpg')
		div(class="col-md-2 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						coming soon
				div(class="panel-heading")