extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="col-md-10 headService no-float center-block")
			b.
				Our Companies Services 
			p.
				Below are the services that MEM can supply to any event.
			
				With a large database of certified, skilled and diverse employees, Miller Event Management is able to cover any of your events staffing needs. We offer event traffic & parking, ticket gate operations and much more. Look below to get an idea of what Miller Event Management has to offer.
		div(class="col-md-10 panelesService no-float center-block")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						CAMPING MANAGEMENT
				div(class="panel-body")
					div(class="col-md-6")
						img(src="img/camping2.jpg")
					div(class="col-md-6")
						p
							|Miller Management can coordinate and facilitate the camping operations for all types of festivals.
						P
							|Our staff can coordinate various campgrounds where patrons can either:
							ul
								li Camp next to their vehicles
								li Or walk in only campgrounds
						P
							|We design camping operations with proper traffic lanes, parking spaces, and fire lanes.