<section id="banner">
	<div class="content">
		<header class="box">
			<h2><center>Call-US</center></h2>
			<h3><center>Here in the office to speak with:</center></h3>
		</header>
		<div class="col-sm-6 col-md-4">
			<div class="single-member box">
				<h2>Jim Miller</h2>
				<h4>President/ CEO</h4>
				<h5>Email: email@email.com</h5>
				<h5>Phone: (XXX) XXXX XXX</h5>
				<div class="socials">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				</div>
		</div>
		<div class="col-sm-6 col-md-4">
			<div class="single-member box">
				<h2>Cami Bria</h2>
				<h4>Administrative Director</h4>
				<h5>Email: email@email.com</h5>
				<h5>Phone: (XXX) XXXX XXX</h5>
				<div class="socials">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				</div>
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="single-member box">
				<h2>Emily Rohan</h2>
				<h4>HR Administrator</h4>
				<h5>Email: email@email.com</h5>
				<h5>Phone: (XXX) XXXX XXX</h5>
				<div class="socials">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				</div>
		</div>

		<div class="col-sm-6 col-md-4">
		</div>

		<div class="col-sm-6 col-md-4">
			<div class="single-member box">
				<h2>Patty Miller</h2>
				<h4>CFO</h4>
				<h5>Email: email@email.com</h5>
				<h5>Phone: (XXX) XXXX XXX</h5>
				<div class="socials">
				<a href="#"><i class="fa fa-twitter"></i></a>
				<a href="#"><i class="fa fa-linkedin"></i></a>
				</div>
				</div>
		</div>



	</div>
</section>
<section>
	<div class="features">

	</div>
</section>