extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="col-md-6 col-md-offset-3 headService no-float center-block")
			b.
				Call-US
			p.
				Here in the office to speak with:
		div(class="col-md-3 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						President/ CEO
				div(class="panel-body")
					center
						p.
							Jim Miller
						p.
							Email: email@email.com
						p.
							Phone: (XXX) XXXX XXX
		div(class="col-md-3 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						Administrative Director
				div(class="panel-body")
					center
						p.
							Cami Bria
						p.
							Email: email@email.com
						p.
							Phone: (XXX) XXXX XXX
		div(class="col-md-3 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						HR Administrator
				div(class="panel-body")
					center
						p.
							Emily Rohan
						p.
							Email: email@email.com
						p.
							Phone: (XXX) XXXX XXX
		div(class="col-md-3 panelContact")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						CFO
				div(class="panel-body")
					center
						p.
							Patty Miller
						p.
							Email: email@email.com
						p.
							Phone: (XXX) XXXX XXX
