doctype html
html(lang="en")
	head
		link(rel="stylesheet" href="css/style.css")
		link(rel="stylesheet" href="css/@media.css")
		//JQUERY 3.1.1
		script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js")
		//bootstrap
		script(type="text/javascript" src="js/moment.js")
		script(type="text/javascript" src="js/transition.js")
		script(type="text/javascript" src="js/collapse.js")
		script(type="text/javascript" src="js/bootstrap.min.js")
		script(type="text/javascript" src="js/bootstrap-datetimepicker.min.js")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/bootstrap-datetimepicker.min.css")
		//fontawesome
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		
		link(rel="stylesheet" href="css/dropdowns-enhancement.css")
		script(src="js/dropdowns-enhancement.js")
		link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/css/bootstrap-select.min.css")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.2/js/bootstrap-select.min.js")
		script(src="js/function.js")
		meta(name="viewport" content="width=device-width, initial-scale=1.0")
		
	body
		header
			div(class="container-fluid header")
				p(class="numberphone")
					|Phone: (805)xxx xxxx    Email:millereventmanagement@gmail.com 
					a#face.fa.fa-facebook-square.fa-2x(href='https://www.facebook.com/miller.event.management96/')
					span(class="iconosredes")
					a#twitter.fa.fa-twitter-square.fa-2x(href='https://twitter.com/MillerEvent1')
					span(class="iconosredes")
					a#linkedin.fa.fa-linkedin-square.fa-2x(href='https://www.linkedin.com/in/miller-event-management-778854132')
				div(class="col-md-3 vcenter no-float")
					img(src="img/logoblanco.png" class="center-block")
				div(class="col-md-9 col-xs-12 vcenter no-float")
					div(class="bs-example")
						nav(id="myNavbar" class="navbar" role="navigation")
							div
								div(class="navbar-header")
									button(type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1")
										span(class="sr-only").
											Toggle navigation
										span(class="icon-bar")
										span(class="icon-bar")
										span(class="icon-bar")
									a(class="navbar-brand" href="#")
										h6 
								div(class="collapse navbar-collapse" id="bs-example-navbar-collapse-1")
									ul(class="nav navbar-nav navbar-right")
										li
											a(href="/").
												HOME PAGE
										li(class="dropdown")
											a(href="#" data-toggle="dropdown" class="dropdown-toggle").
												SERVICES
												#[b(class="caret")]
											ul(class="dropdown-menu principal")
												li
													a(href="/security").
														SECURITY
												li
													a(href="/parking-traffic").
														PARKING & TRAFFIC
												li
													a(href="/ticket-gate-operations").
														TICKET GATE OPERATIONS
												li
													a(href="/camping-management").
														CAMPING MANAGEMENT
												li
													a(href="/volunteer-management").
														VOLUNTEER MANAGMENT
												li
													a(href="#").
														CONSULTING SERVICES
												li
													a(href="#").
														CASHIERS
												li
													a(href="#").
														GUEST SERVICES
												li
													a(href="#").
														GATE ATTENDANTS
										li(class="dropdown")
											a(href="#" data-toggle="dropdown" class="dropdown-toggle").
												PORTFOLIO
												#[b(class="caret")]
											ul(class="dropdown-menu principal")
												li
													a(href="/portfolio").
														FAST EVENT
												li
													a(href="#").
														FUTURE EVENTS
												li
													a(href="#").
														TESTIMONIALS
												li
													a(href="/event-feedback").
														EVENTS FEEDBACK
										li(class="dropdown")
											a(href="#" data-toggle="dropdown" class="dropdown-toggle").
												ABOUT US
												#[b(class="caret")]
											ul(class="dropdown-menu principal")
												li
													a(href="/about-us").
														ABOUT-US
												li
													a(href="/area").
														AREA’S WE SERVE		
										li(class="dropdown")
											a(href="#" data-toggle="dropdown" class="dropdown-toggle").
												CONTACT US
												#[b(class="caret")]
											ul(class="dropdown-menu principal")
												li
													a(href="contact-directory").
														CONTACT DIRECTORY
												li
													a(href="/contact-us").
														CONTACT OUR COMPANY
												li
													a(href="/request-for-quote").
														REQUEST FOR QUOTES
												li
													a(href="/application-for-employment").
														APPLICATION FOR EMPLOYMENT
										li(class="dropdown")
											a(href="#" data-toggle="dropdown" class="dropdown-toggle").
												QUICK TOOLS
												#[b(class="caret")]
											ul(class="dropdown-menu principal")
												li
													a(href="#").
														PAY OF TIME
												li
													a(href="#").
														REFER A FRIEND
										li
											input(type="text" class="form-control" id="search" name="search" placeholder="Search" required)
		article
			block contenido