<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h3>Welcome to Our Website</h3>
											<p>A Welcome to Miller Event Managament, your all-in-one event mangament company</p>
										</header>
										<p>Miller Event Mangement is an all-in-one event managament company. As you look through our website, you will find that Miller Event Management (MEM) is a perfect choice for your venue or event.</p>
										<ul class="actions">
											<li><a href="#/requestforquotes" class="button big">Request A Quote</a></li>
										</ul>
									</div>
									
										<div id="myCarousel" class="carousel slide" data-ride="carousel">
											<ol class="carousel-indicators">
												<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
												<li data-target="#myCarousel" data-slide-to="1"></li>
												<li data-target="#myCarousel" data-slide-to="2"></li>
												<li data-target="#myCarousel" data-slide-to="3"></li>
											</ol> <!-- Wrapper for slides -->
											<div class="carousel-inner" role="listbox">
												<div id="imgCarousel" class="item active">
													<img src="images/1.jpg" alt="" />		
												</div>
												<div id="imgCarousel" class="item">
													<img src="images/2.jpg" alt="" />
												</div>
												<div id="imgCarousel" class="item">
													<img src="images/3.png" alt="" />
												</div>
												<div id="imgCarousel" class="item">
													<img src="images/4.jpg" alt="" />
												</div>
											</div>
										</div>

									<!--<div class="content">
										<div id="owl-galery" class="owl-carousel owl-theme"  ng-controller="carousel">
										  	<div class="item">
										  		<img src="images/1.jpg" class="imgGalery">
										  	</div>
										  	<div class="item">
										  		<img src="images/2.jpg" class="imgGalery">
										  	</div>
										  	<div class="item">
										  		<img src="images/3.jpg" class="imgGalery">
										  	</div>
										  	<div class="item">
										  		<img src="images/4.jpg" class="imgGalery">
										  	</div>
										</div>
									</div>-->
								</section>

							<!-- Section -->
								<section>
									<div class="features">
										<article>
											<span class="icon fa-book"></span>
											<div class="content">
												<h3>Planning your Event</h3>
												<p>Contact us for questions regarding the needs of your event</p>
											</div>
										</article>
										<article>
											<span class="icon fa-lock"></span>
											<div class="content">
												<h3>More then Security</h3>
												<p>MEM can create your events inner logistics to optimise                     your event's functionality.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-star"></span>
											<div class="content">
												<h3>Special events</h3>
												<p>We can fill any position or requirement for any special                     event request.</p>
											</div>
										</article>
										<article>
											<span class="icon fa-puzzle-piece"></span>
											<div class="content">
												<h3>All-in-One package</h3>
												<p>Our large and qualified employee database is able to staff any type of position needs.</p>
											</div>
										</article>
									</div>
								</section>
								<hr class="major" />
							<div class="clients-wrapper">
								<div class="row text-center">
									<div class="col-sm-8 col-sm-offset-2">
										<h2>Customer Testimonials</h2>
									</div>
								</div>
								<div id="clients-carousel" class="carousel slide" data-ride="carousel"> <!-- Indicators -->
									<ol class="carousel-indicators">
										<li data-target="#clients-carousel" data-slide-to="0" class="active"></li>
										<li data-target="#clients-carousel" data-slide-to="1"></li>
										<li data-target="#clients-carousel" data-slide-to="2"></li>
									</ol> <!-- Wrapper for slides -->
									<div class="carousel-inner">
										<div class="item active">
											<div class="single-client">
												<div class="media">
													<div class="media-body">
														<blockquote>
														<h3>Jim and Bubba</h3>	
														<p>I just wanted to take a moment to say thank you. On Saturday, you sent two security guards to work a wedding at Tooth N' Nail Winery and they were terrific. These guys were on top of all security issues and proactive on many levels, which is truly what we are looking for. Before an incident would start, the guys, seemed to already be aware and taking measures to prevent. They also stomped, literally, a fire on site and ushered unsupervised children to safe areas. While I am sure these are not necessarily the security issues they may have anticipated, their responses were just what we needed. Just wanted to let you know.</p>
														<h3>Kim Walker</h3>
														<h3>Tooth N' Nail Winery <br>
														Events Manager		
														</h3>
														</blockquote>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="single-client">
												<div class="media">
													<div class="media-body">
														<blockquote>
														<h3>Hi Bubba and Jim</h3>	
														<p>I wanted to thank you again for all your help with providing excellent security services with such short notice. We couldn't be more pleased!</p>
														<br>
														<br>
														<br>
														<h3>Lindsay DB Miller</h3>
														<h3>Guest Services Manager<br>
														San Simeon Hearst Ranch		
														</h3>
														</blockquote>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="single-client">
												<div class="media">
													<div class="media-body">
														<blockquote>
														<h3>Dear Miller Events</h3>	
														<p>On behalf of the Board of Directors of Jack's Helping Hand and the children we serve, I would like to thank you for your donation of security guards for our "Day at the Park" event and fundraiser. I appreciate your support and generosity so that we may continue to serve the medically fragile children in our community.</p>
														<br>
														<br>
														<h3>Karen Borges</h3>
														<h3>Executive Director<br>
														Jack's Helping Hand	
														</h3>
														</blockquote>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>