extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="col-md-10 headService no-float center-block")
			b.
				Our Companies Services 
			p.
				Below are the services that MEM can supply to any event.
			
				With a large database of certified, skilled and diverse employees, Miller Event Management is able to cover any of your events staffing needs. We offer event traffic & parking, ticket gate operations and much more. Look below to get an idea of what Miller Event Management has to offer.
		div(class="col-md-10 panelesService no-float center-block")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						PARKING & TRAFFIC
				div(class="panel-body")
					div(class="col-md-6")
						img(src="img/parking3.jpg")
					div(class="col-md-6")
						p.
							Miller Management can coordinate, and provide staff in parking and traffic operations for all types of festivals and special events.
						p.
							We provide directional parking staff, general parking (stadium parking), vehicle campground parking, traffic control, and shuttle services.
						p.
							We have the ability to design traffic and parking plans for a specific location with an overall map detailing the infrastructure of traffic flow, parking area’s, signage, and emergency contingency plans.
						p.
							We understand the need to minimize delays and to keep the traffic moving in a safe and orderly manner.