					<br>
					<div class="col-md12">
						<header class="box">
						<h2><center>Portfolio</center></h2>
						</header>
						<p>Miller Event Management covers a wide range of Events. We are able to provide large festivals and events with a combination of security, parking, traffic and camping managemnt staff. We also focus in small venues such as weddings or parties. Below are some examples of the range of events that Miller Event Management has been a part of. For a full resume or portfolio please contact us.</p>
					</div>

<div class="portfolio-items">
					<div class="col-sm-4 col-xs-12 portfolio-item html">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/motogplogoS.jpg" alt="Festival Of Beers - Avila Beach, CA"></div> 
								<div class="mask text-center">
									<h4>Red Bull Moto GP - Laguna Seca Raceway</h4>
									<a href='http://www.redbull.com/co/es/motorsports/motogp/tracks/1331587843860/laguna-seca_es' target="_blank"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12 portfolio-item jooma">
							<div class="view efffect" >
								<div class="portfolio-image">
									<img src="images/portfolio/highsierraS.jpg" alt="">
								</div> 
								<div class="mask text-center">
									<h4>High Sierra Music Festival</h4>
									<a href='http://highsierramusic.com/' target="_blank"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12 portfolio-item wordpress">
							<div class="view efffect">
								<div class="portfolio-image">
									<img src="images/portfolio/tourS.jpg" alt="">
								</div> 
								<div class="mask text-center">
								<h4> Amgen Tour of California</h4>
								<a href='http://www.amgentourofcalifornia.com/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item megento">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/bluesS.jpg" alt="">
							</div> 
							<div class="mask text-center">
								<h4>Monterey Blues Festival</h4>
								<a href='https://www.seemonterey.com/event/monterey-international-blues-festival/5025/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item html">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/seaotterS.jpg" alt="">
							</div> <div class="mask text-center">
							<h4>Sea Otter Classic</h4>
							<a href='http://www.seaotterclassic.com/' target="_blank"><i class="fa fa-link"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 portfolio-item wordpress">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="images/portfolio/lemansS.jpg" alt="">
						</div> 
						<div class="mask text-center">
							<h4>American Lemans - Laguna Seca Raceway</h4>
							<a href='https://www.allenbergracingschools.com/tracks/laguna/' target="_blank"><i class="fa fa-link"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 portfolio-item html">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="images/portfolio/jazzS.jpg" alt="">
						</div> 
						<div class="mask text-center">
							<h4>Monterey Jazz Festival</h4>
							<a href='http://www.montereyjazzfestival.org/' target="_blank"><i class="fa fa-link"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 portfolio-item joomla">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="images/portfolio/sierranevadaS.jpg" alt=""></div> 
							<div class="mask text-center">
								<h4>Sierra Nevada World Music Festival</h4>
								<a href='http://www.snwmf.com/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item html">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/bonoS.jpg" alt="">
							</div> 
							<div class="mask text-center">
								<h4>Bonnaroo Music & Arts Festival</h4>
								<a href='https://www.bonnaroo.com/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item wordpress">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/bestbuddies.jpg" alt=""></div> 
								<div class="mask text-center">
									<h4>Best Buddies - Hearst Castle, CA</h4>
									<a href='https://www.bestbuddieschallenge.org/hc/' target="_blank"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12 portfolio-item joomla">
							<div class="view efffect">
								<div class="portfolio-image">
									<img src="images/portfolio/liveoakS.jpg" alt=""></div> 
									<div class="mask text-center">
										<h4>Live Oak Music Festival</h4>
										<a href='http://www.liveoakfest.org/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/historicsS.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Rolex Monterey Motorsports Reunion</h4>
											<a href='http://www.mazdaraceway.com/rolex-monterey-motorsports-reunion' target="_blank"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/lightning.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Lightning in a Bottle Festival</h4>
											<a href='http://lightninginabottle.org/' target="_blank"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/pasowine.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Paso Robles Wine Festival</h4>
											<a href='https://pasowine.com/events/winefest/' target="_blank"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>		
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/wildflower.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Wildflower Triathlon</h4>
											<a href='http://www.tricalifornia.com/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/sbwine.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Santa Barbara Wine Festival</h4>
											<a href='http://www.sbnature.org/about/495.html' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/wineclassic.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Centra Coast Wine Classic</h4>
											<a href='http://www.centralcoastwineclassic.org/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>


							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/ucsb.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>University of California, Santa Barbara</h4>
											<a href='http://www.ucsb.edu/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>


							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/calpoly.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>California Polytechnic State University</h4>
											<a href='http://www.calpoly.edu/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>


							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/harvestS.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Harvest Music Festival</h4>
											<a href='https://harvestfestival.org/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/beerfest.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Festival Of Beers - Avila Beach, CA</h4>
											<a href='http://www.californiafestivalofbeers.com/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>
</div>
<!--				<div class="row text-center">
					<div class="col-sm-8 col-sm-offset-2">
						<h2 class="title-one">Portfolio</h2>
						<p>Miller Event Management covers a wide range of Events. We are able to provide large festivals and events with a combination of security, parking, traffic and camping managemnt staff. We also focus in small venues such as weddings or parties. Below are some examples of the range of events that Miller Event Management has been a part of. For a full resume or portfolio please contact us.</p>
					</div>
				</div>
					<div class="col-sm-4 col-xs-12 portfolio-item html">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/motogplogoS.jpg" alt="Festival Of Beers - Avila Beach, CA"></div> 
								<div class="mask text-center">
									<h4>Red Bull Moto GP - Laguna Seca Raceway</h4>
									<a href='http://www.redbull.com/co/es/motorsports/motogp/tracks/1331587843860/laguna-seca_es' target="_blank"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12 portfolio-item jooma">
							<div class="view efffect" >
								<div class="portfolio-image">
									<img src="images/portfolio/highsierraS.jpg" alt="">
								</div> 
								<div class="mask text-center">
									<h4>High Sierra Music Festival</h4>
									<a href='http://highsierramusic.com/' target="_blank"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12 portfolio-item wordpress">
							<div class="view efffect">
								<div class="portfolio-image">
									<img src="images/portfolio/tourS.jpg" alt="">
								</div> 
								<div class="mask text-center">
								<h4> Amgen Tour of California</h4>
								<a href='http://www.amgentourofcalifornia.com/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item megento">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/bluesS.jpg" alt="">
							</div> 
							<div class="mask text-center">
								<h4>Monterey Blues Festival</h4>
								<a href='https://www.seemonterey.com/event/monterey-international-blues-festival/5025/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item html">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/seaotterS.jpg" alt="">
							</div> <div class="mask text-center">
							<h4>Sea Otter Classic</h4>
							<a href='http://www.seaotterclassic.com/' target="_blank"><i class="fa fa-link"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 portfolio-item wordpress">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="images/portfolio/lemansS.jpg" alt="">
						</div> 
						<div class="mask text-center">
							<h4>American Lemans - Laguna Seca Raceway</h4>
							<a href='https://www.allenbergracingschools.com/tracks/laguna/' target="_blank"><i class="fa fa-link"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 portfolio-item html">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="images/portfolio/jazzS.jpg" alt="">
						</div> 
						<div class="mask text-center">
							<h4>Monterey Jazz Festival</h4>
							<a href='http://www.montereyjazzfestival.org/' target="_blank"><i class="fa fa-link"></i></a>
						</div>
					</div>
				</div>
				<div class="col-sm-4 col-xs-12 portfolio-item joomla">
					<div class="view efffect">
						<div class="portfolio-image">
							<img src="images/portfolio/sierranevadaS.jpg" alt=""></div> 
							<div class="mask text-center">
								<h4>Sierra Nevada World Music Festival</h4>
								<a href='http://www.snwmf.com/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item html">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/bonoS.jpg" alt="">
							</div> 
							<div class="mask text-center">
								<h4>Bonnaroo Music & Arts Festival</h4>
								<a href='https://www.bonnaroo.com/' target="_blank"><i class="fa fa-link"></i></a>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-xs-12 portfolio-item wordpress">
						<div class="view efffect">
							<div class="portfolio-image">
								<img src="images/portfolio/bestbuddies.jpg" alt=""></div> 
								<div class="mask text-center">
									<h4>Best Buddies - Hearst Castle, CA</h4>
									<a href='https://www.bestbuddieschallenge.org/hc/' target="_blank"><i class="fa fa-link"></i></a>
								</div>
							</div>
						</div>
						<div class="col-sm-4 col-xs-12 portfolio-item joomla">
							<div class="view efffect">
								<div class="portfolio-image">
									<img src="images/portfolio/liveoakS.jpg" alt=""></div> 
									<div class="mask text-center">
										<h4>Live Oak Music Festival</h4>
										<a href='http://www.liveoakfest.org/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/historicsS.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Rolex Monterey Motorsports Reunion</h4>
											<a href='http://www.mazdaraceway.com/rolex-monterey-motorsports-reunion' target="_blank"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/lightning.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Lightning in a Bottle Festival</h4>
											<a href='http://lightninginabottle.org/' target="_blank"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/pasowine.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Paso Robles Wine Festival</h4>
											<a href='https://pasowine.com/events/winefest/' target="_blank"><i class="fa fa-link"></i></a>
										</div>
									</div>
								</div>		
							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/wildflower.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Wildflower Triathlon</h4>
											<a href='http://www.tricalifornia.com/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/sbwine.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Santa Barbara Wine Festival</h4>
											<a href='http://www.sbnature.org/about/495.html' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/wineclassic.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Centra Coast Wine Classic</h4>
											<a href='http://www.centralcoastwineclassic.org/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>


							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/ucsb.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>University of California, Santa Barbara</h4>
											<a href='http://www.ucsb.edu/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>


							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/calpoly.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>California Polytechnic State University</h4>
											<a href='http://www.calpoly.edu/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>


							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/harvestS.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Harvest Music Festival</h4>
											<a href='https://harvestfestival.org/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>

							<div class="col-sm-4 col-xs-12 portfolio-item megento">
								<div class="view efffect">
									<div class="portfolio-image">
										<img src="images/portfolio/beerfest.jpg" alt=""></div> 
										<div class="mask text-center">
											<h4>Festival Of Beers - Avila Beach, CA</h4>
											<a href='http://www.californiafestivalofbeers.com/' target="_blank"><i class="fa fa-link"></i></a>
									</div>
								</div>
							</div>
							<br>
							<p>.</p>
							/#portfolio-->