extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="panel panel-default col-md-12")
			div(class="panel-heading")
				b.
					Contact Our Company
			div(class="panel-body")
				form(class="form-horizontal")
					div(class="col-md-7 no-float center-block")
						div(class="form-group")
							label(for="tEvent" class="col-md-4 control-label")
								|Type of Event
							div(class="col-sm-8")
								input(type="text" class="form-control" id="tEvent" name="tEvent" placeholder="Type of Event")
					//fieldset(class="form-group")
						legend
							|Event Location
					div(class="col-md-3")
						div(class="form-group")
							label(for="nameevent")
								|Name
							input(type="text" class="form-control" id="nameevent" name="nameevent" placeholder="Name event" required)
						div(class="form-group")
							label(for="addressevent")
								|Address
							input(type="email" class="form-control" id="addressevent" name="addressevent" placeholder="Address Event" required="s")
						div(class="form-group")
							label(for="cityevent")
								|City
							input(type="tel" class="form-control" id="cityEvent" name="cityevent" placeholder="City Event" required)
						div(class="form-group")
							label(for="state")
								|State
							input(type="text" class="form-control" id="state" name="state" placeholder="State Event" required)
					div(class="col-md-3")
						div(class="form-group")
							label(for="zip")
								|Zip
							input(type="text" class="form-control" id="zip" name="zip" required)
						div(class="form-group")
							label(for="countevent")
								|Approx. Guest Count
							input(type="text" class="form-control" id="countevent" name="countevent" required)
						div(class="form-group")
							label(for="guardsevent")
								|Number of Guards requested
							input(type="text" class="form-control" id="guardsevent" name="guardsevent" required)
						div(class="form-group")
							label(for="cphoneevent")
								|Contact Phone
							input(type="text" class="form-control" id="cphoneevent" name="cphoneevent" required)
					div(class="col-md-3")
						div(class="form-group")
							label(for="dtp_input2")
								|Date From
							div(class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd")
								input(class="form-control" size="16" type="text" value="" readonly)
								span(class="input-group-addon")
									span(class="glyphicon glyphicon-calendar")
							input(type="hidden" id="dtp_input2" name="dtp_input2" value="")
						div(class="form-group")
							label(for="dtp_input3" class="control-label")
								|Date to
							div(class="input-group date form_date" data-date="" data-date-format="dd MM yyyy" data-link-field="dtp_input1" data-link-format="yyyy-mm-dd")
								input(class="form-control" size="16" type="text" value="" readonly)
								span(class="input-group-addon")
									span(class="glyphicon glyphicon-calendar")
							input(type="hidden" id="dtp_input3" name="dtp_input3" value="")