extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="panel panel-default col-md-12 panelRequest no-padding")
			div(class="panel-heading")
				b.
					Request for quotes
			div(class="panel-body")
				form(class="form-horizontal")
					div(class="col-md-7 no-float center-block")
						div(class="form-group")
							label(for="tEvent")
								|Type of Event
							input(type="text" class="form-control" id="tEvent" name="tEvent" placeholder="Type of Event")
					//fieldset(class="form-group")
						legend
							|Event Location
					div(class="col-md-3 columnasRequest")
						div(class="form-group col-md-12")
							label(for="nameevent")
								|Name
							input(type="text" class="form-control" id="nameevent" name="nameevent" placeholder="Name event" required)
						div(class="form-group col-md-12")
							label(for="addressevent")
								|Address
							input(type="email" class="form-control" id="addressevent" name="addressevent" placeholder="Address Event" required="s")
						div(class="form-group col-md-12")
							label(for="cityevent")
								|City
							input(type="tel" class="form-control" id="cityEvent" name="cityevent" placeholder="City Event" required)
						div(class="form-group col-md-12")
							label(for="state")
								|State
							input(type="text" class="form-control" id="state" name="state" placeholder="State Event" required)
					div(class="col-md-3")
						div(class="form-group col-md-12")
							label(for="zip")
								|Zip
							input(type="text" class="form-control" id="zip" name="zip" required)
						div(class="form-group col-md-12")
							label(for="countevent")
								|Approx. Guest Count
							input(type="text" class="form-control" id="countevent" name="countevent" required)
						div(class="form-group col-md-12")
							label(for="guardsevent")
								|Number of Guards requested
							input(type="text" class="form-control" id="guardsevent" name="guardsevent" required)
						div(class="form-group col-md-12")
							label(for="cphoneevent")
								|Contact Phone
							input(type="text" class="form-control" id="cphoneevent" name="cphoneevent" required)
					div(class="col-md-3")
						div(class="form-group col-md-12")
							label(for="dtp_input")
								|Date From
							div(class='input-group date' id='datetimepicker')
								input(type='text' class="form-control")
								span(class="input-group-addon")
									span(class="glyphicon glyphicon-calendar")
							input(type="hidden" id="dtp_input" name="dtp_input" value="")
						div(class="form-group col-md-12")
							label(for="dtp_input2")
								|Date to
							div(class='input-group date' id='datetimepicker2')
								input(type='text' class="form-control")
								span(class="input-group-addon")
									span(class="glyphicon glyphicon-calendar")
							input(type="hidden" id="dtp_input2" name="dtp_input2" value="")
						div(class="form-group col-md-12")
							label(for="dtp_input3")
								|Event times From
							div(class='input-group date' id='datetimepicker3')
								input(type='text' class="form-control")
								span(class="input-group-addon")
									span(class="glyphicon glyphicon-time")
							input(type="hidden" id="dtp_input2" name="dtp_input3" value="")
						div(class="form-group col-md-12")
							label(for="dtp_input4")
								|Event times To
							div(class='input-group date' id='datetimepicker4')
								input(type='text' class="form-control")
								span(class="input-group-addon")
									span(class="glyphicon glyphicon-time")
							input(type="hidden" id="dtp_input2" name="dtp_input4" value="")
					div(class="col-md-3")
						div(class="form-group col-md-12")
							label(for="companyevent")
								|Company
							input(type="text" class="form-control" id="companyevent" name="companyevent" placeholder="Company" required)
						div(class="form-group col-md-12")
							label(for="countEvent")
								|Type of services needed
							select(class="selectpicker" id="countevent" name="countevent" multiple data-actions-box="true")
									option Cashiers
									option Crowd Control
									option Parking
									option Traffic Control
									option Guards
									option Armed Guards
						div(class="form-group col-md-12")
							label(for="contactevent")
								|Contact Name
							input(type="text" class="form-control" id="contactevent" name="contactevent" placeholder="Contact Name" required)
						div(class="form-group col-md-12")
							label(for="cemailevent")
								|Contact Email
							input(type="text" class="form-control" id="cemailevent" name="cemailevent" placeholder="Contact Email" required)
					div(class="col-md-7 no-float center-block")
						div(class="form-group col-md-12")
							label(for="notesevent")
								|Notes
							textarea(class="form-control" id="notesevent" rows="3")
					div(class="col-md-7 no-float center-block")
						div(class="form-group col-md-12")
							button(type="submit" class="btn btn-default no-float center-block")
								|Send Message