	<br>
	<header class="box">
			<h2><center>Our Companies Services/center</h2>
	</header>

	<div class="content">
		<p>Below are the services that MEM can supply to any event. With a large database of certified, skilled and diverse employees, Miller Event Management is able to cover any of your events staffing needs. We offer event traffic & parking, ticket gate operations and much more. Look below to get an idea of what Miller Event Management has to offer.</p>
		<ul class="actions">
			<li><a href="#" class="button big">Request A Quote</a></li>
		</ul>
	</div>
<section>
	<div class="features">
		<article>
			<div class="content">
				<h3>SECURITY</h3>
				<img src="images/services/security.jpg" alt="Security">
				We offer volunteer management for:
					<li>Security</li>
					<li>Parking</li>
					<li>Traffic</li>
					<li>Camping</li>
					We are prepared to coordinate scheduling, staff positions, and job responsibilities for volunteers that are recruited by the festival.
			</div>
		</article>
		<article>
			<div class="content">
				<h3>PARKING & TRAFFIC</h3>
				<img src="images/services/parking.jpg" alt="Parking">
				Miller Management can coordinate, and provide staff in parking and traffic operations for all types of festivals and special events.
				We provide directional parking staff, general parking (stadium parking), vehicle campground parking, traffic control, and shuttle services.
				We have the ability to design traffic and parking plans for a specific location with an overall map detailing the infrastructure of traffic flow, parking area’s, signage, and emergency contingency plans.
				We understand the need to minimize delays and to keep the traffic moving in a safe and orderly manner.
			</div>
		</article>
		<article>
			<span></span>
			<div class="content">
				<h3>TICKET GATE OPERATIONS</h3>
				<img src="images/services/ticket.jpg" alt="Ticket">
				Miller Management can provide the following ticketing services:
				<li>Collect tickets</li>
				<li>Wristband patrons</li>
				<li>Manage on site ticket sales</li>
				<li>Security bag search</li>
				<li>Wristband checkpoints</li>
			</div>
		</article>
		<article>
			<span></span>
			<div class="content">
				<h3>CAMPING MANAGEMENT</h3>
				<img src="images/services/camping.jpg" alt="Camping">
				Miller Management can coordinate and facilitate the camping operations for all types of festivals.
				Our staff can coordinate various campgrounds where patrons can either:
				<li>Camp next to their vehicles</li>
				<li>Or walk in only campgrounds</li>
				We design camping operations with proper traffic lanes, parking spaces, and fire lanes.
			</div>
		</article>
		<article>
			<span></span>
			<div class="content">
				<h3>VOLUNTEER MANAGEMENT</h3>
				<img src="images/services/camping.jpg" alt="Camping">
				We offer volunteer management for:
				<li>Security</li>
				<li>Parking</li>
				<li>Traffic</li>
				<li>Camping</li>
				We are prepared to coordinate scheduling, staff positions, and job responsibilities for volunteers that are recruited by the festival.
			</div>
		</article>
	</div>
</section>