extends ./layout.jade
block contenido
	div(class="container-fluid")
		div(class="col-md-10 headService no-float center-block")
			b.
				Our Companies Services 
			p.
				Below are the services that MEM can supply to any event.
			
				With a large database of certified, skilled and diverse employees, Miller Event Management is able to cover any of your events staffing needs. We offer event traffic & parking, ticket gate operations and much more. Look below to get an idea of what Miller Event Management has to offer.
		div(class="col-md-10 panelesService no-float center-block")
			div(class="panel panel-default")
				div(class="panel-heading")
					b.
						VOLUNTEER MANAGEMENT
				div(class="panel-body")
					div(class="col-md-6")
						img(src="img/volunteer.jpg")
					div(class="col-md-6")
						p
							|We offer volunteer management for:
							ul
								li Security
								li Parking
								li Traffic
								li Camping
						P
							|We are prepared to coordinate scheduling, staff positions, and job responsibilities for volunteers that are recruited by the festival.