@font-face {
    font-family: "TRAJAX";
    src: url(../template/fonts/TRAJAX.ttf) format("truetype");
}
body{
	background-color: #fbfbfb;
}

#area {
  width: 150px;
  height: 150px;
}
.navbar-nav a{
	color: #ffffff;
}

#face{
	color:#3b5998;
}

#twitter{
	color:#4099FF;
}

#linkedin{
	color:#0e76a8;
}

#map{
	width: 100px;
	height: 100px;
}
.iconosredes{
	 margin-left:5px;
     margin-right:5px;
}
.numberphone{
	color: #ffffff !important;
	text-align: right;
}
.panelContact{
	font-size: 14px;
	margin-top: 30px;
}
.panelAbout{
	height: 400px;
}
.no-padding{
	padding-right: 0px!important;
	padding-left: 0px!important;
}
.imageAbout{
	width: 100%;
}
.icon-bar{
	background-color: #fff;
}
.paneles{
	margin-top: 10px;
}
.panelesService{
	font-size: 16px;
	margin-top: 2%;
}
.headService{
	font-size: 16px;
	margin-top: 2%;
}
.titulos{
	font-size: 14px;
}
.cita{
	font-style: italic;
}
.autor{
	font-size: 12px;
	padding-top: 10px;	
}
.peque{
	float: left;
	margin-right: 20px;
}
.principal>li>a{
	color: #ffffff!important;
}
.principal>li>a:focus, .principal>li>a:hover{
	color: #23527c!important;
	background-color: #fff!important;
}
.nav>li>a:hover {
    background-color: #fff!important;
}
.nav>li>a:focus, menu>li>a:hover {
    color: #23527c;
    text-decoration: none;
    background-color: #ffffff!important;
}
.puntos{
	bottom: 0px!important;
	margin-bottom: 20px;
}
.puntos li{
	background-color: #172F3C;
}
.puntoEvents{
	bottom: 0px!important;
}
.carousel-indicators .active{
	background-color: #172F3C!important;
}
.carousel-indicators li {
	border-color: #172F3C!important;
}
.panelCompleto{
	height: 235px;
	padding-bottom: 40px;
	margin-top: 10px;
}
.principal{
	padding-top: 30px;
	padding-bottom: 30px;
	/* IE10+ */ 
background-image: -ms-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

/* Mozilla Firefox */ 
background-image: -moz-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

/* Opera */ 
background-image: -o-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

/* Webkit (Safari/Chrome 10) */ 
background-image: -webkit-gradient(linear, right top, left bottom, color-stop(50, #172F3C), color-stop(300, #ffffff));

/* Webkit (Chrome 11+) */ 
background-image: -webkit-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

/* W3C Markup */ 
background-image: linear-gradient(to bottom left, #172F3C 50%, #ffffff 300%);
}
.navbar{
	margin-bottom: 0px !important;
}
.vcenter{
	display: inline-block;
    vertical-align: middle;
}
.no-float{
	 float: none!important;
}
.owl-carousel .owl-wrapper-outer {
	width: 100%!important;
	height: 300px;
}
.header{
	padding-top: 20px;
	padding-bottom: 20px;
	/* IE10+ */ 
	background-image: -ms-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

	/* Mozilla Firefox */ 
	background-image: -moz-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

	/* Opera */ 
	background-image: -o-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

	/* Webkit (Safari/Chrome 10) */ 
	background-image: -webkit-gradient(linear, right top, left bottom, color-stop(50, #172F3C), color-stop(300, #ffffff));

	/* Webkit (Chrome 11+) */ 
	background-image: -webkit-linear-gradient(top right, #172F3C 50%, #ffffff 300%);

	/* W3C Markup */ 
	background-image: linear-gradient(to bottom left, #172F3C 50%, #ffffff 300%);


}
.slider{
	width: 100%;
	height: auto;
}